MONGODB_URI=mongodb+srv://aymenbekkai27_db_user:aymenbekkai%40protection%23@cluster0.qgf9w1l.mongodb.net/decoworkshops?retryWrites=true&w=majority&appName=Cluster0
PORT=5000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
